/* ===Base Styles=== */

body {
	font-family: 'Univers LT 47 CondensedLt', helvetica;
	line-height: 1.6;
	background: #fff;
	margin: 0;
	
	
}

p {
	font-size: .95em
	margin-bottom: 1.5em;
	color:#fff;
}
h1,
h2,
h3,
a {
	font-family: 'Univers LT 47 CondensedLt', helvetica;
	margin-top: 0;
	margin-bottom: 0;

}



a {
	text-decoration: none;
}
img {
	max-width: 100%;

}


footer {

	position: absolute;
	left: 0;
	bottom: -5%;
	height: 100px;
	width: 100%;
	background-color: #fff;
	margin: 0;
}

/* ===Fonts=== */

@import url(http://db.onlinewebfonts.com/c/f41fdfb395bffe5e23703886d6c5a0b7?family=Univers+LT+47+CondensedLt);

@font-face {font-family: "Univers LT 47 CondensedLt";
    src: url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.eot");
    src: url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/f41fdfb395bffe5e23703886d6c5a0b7.svg#Univers LT 47 CondensedLt") format("svg");
}

/* ===Base Layout Styles=== */




/* ---Navigation--- */


.band-logo-alex {
	margin-top: 1em;
}

.band-logo-napping {
	margin-top: -30px;
	padding-left: 12px;

}

.band-logo-alex, 
.band-logo-napping {
	margin-left: 100px;
	margin-right: 135px;

}

.navbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.navbar li a {
	text-align: center;
  	display: block;
  	padding-left: 1em;
  	padding-right: 1em;
  	padding-top: 2%;
  	padding-bottom: 2%;
  	border-style: solid;
  	border-width: 10px;
  	border-color: #fff;
}


.navbar a:hover {
	background-color: #fff;
	border-color: #000;
	border-width: 2px;

}
.navbar a {
	color: #000;

}

.socials li {
  display: inline-block;
  max-width: 40px;
  margin-top: 1em;
  

}

.socials ul {
	text-align: center;
	margin: 0;
	padding: 0;
}



/* ===Layout Containers=== */

.main-header {
	display: block;
}

.container ul {

	display: block;
	background: #98d4e6;
	background-image: url("site-background1.png");
	background-position: 20% 45%;
	background-size: 145%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-bottom: 0px;

}

.container .navbar {
	margin-bottom: 0px;
}

/* ===Media Queries=== */


@media (min-width: 768px) {

body {
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 10%;
	margin-left: 10%;
}

.container {
	text-align: center;
	border: 0px;
}




.navbar li {

	text-align: center;

}
.socials li {



}



}

@media (min-width: 1025px) {

body {
	margin: 0px;
	
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

.navbar ul {
		background-size: 800px;
		background-attachment: fixed;
		background-position: 100% 0%;
		max-height: 400px;
	

}

.container {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.navbar li {
	text-align: center;
	display: inline-block;
	margin-top: 15%;
	margin-bottom: 15%;
	

}

.navbar li a {
	border-width: 10px;
	margin: 1em;


}

.navbar a:hover {
	background-color: #fff;
	border-color: #fff;
	border-width: 5px;
	font-size: 1.4em;

}




}
